@charset "UTF-8";
:root{

    --dourado-degrade: linear-gradient(to right, #A67928, #B98D2C);
      
}
body, html{
    background-color: #ffffff;
    margin: 0%;
    
    font-size: 62.50%;
    color: white;
}



