@charset "UTF-8";
   
/*aqui fica as logo e as link pra rolar*/

.inicio-nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 1%;
    border-radius:  3rem 3rem 3rem 3rem;
    /*no width pode ser adpatado pra 100%*/
    min-width: 118rem;
    
    
}
.nav_botoes{
    display: flex;
    gap: 20px;
    font-size: 4em;
    list-style-type: none;
    padding-right: 2rem;
    font-weight: 600;
    color: #1b1111;
}
.nav_botoes a{
    color: #1b1111;
    text-decoration: none;
}