@charset "UTF-8";
   
/*aqui fica as logo e as link pra rolar*/

.inicio-nav{
    display: flex;
    justify-content: space-between;
    border-radius:  3rem 3rem 3rem 3rem;
    /*no width pode ser adpatado pra 100%*/
    min-width: 108rem;
    background-color: rgba(0, 0, 0, 0.308);
    
    
}
.nav_botoes{
    display: flex;
    gap: 20px;
    font-size: 4em;
    list-style-type: none;
    padding-right: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.nav_botoes a{
  color: rgb(255, 251, 251);
    text-decoration: none;
}