@charset "UTF-8";



#sobre{
    width: 110rem;
    margin:auto;
    margin-bottom:10rem;
    margin-top: 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    
    
}
#conteiner-titulo-sobre{
    width:fit-content;
    position: absolute;
    top: -7%;
    right: 10%;
    
}
#titulo_sobre{
    width: fit-content;
    position: relative;
    text-align: center;
    margin: 0%;
    text-transform: uppercase;
    font-size: 6rem;
  background: var(--dourado-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#conteiner-sobre{
    display: flex;
    justify-content: center;
    font-size: 4em;
    gap: 6vw;
    color: #000000;

}
#img-sobre{
    width: 47rem;
    z-index: 1;
    position: absolute;
    top: 2%;
    left: 1%;
    border-radius: 2rem;
}
#conteiner-color-texto{
    width: 84rem;
    height: 65rem;
    margin: 10rem;
    background-color: #000000;
    color: white;
    position: relative;
    left: 11%;
    border-radius: 2rem;
      background-image: linear-gradient(to left,#000000e5,#404040 40%,#808080 70%,#BFBFBF 98%,rgb(214, 208, 208));
    box-shadow: 0px 1px 4px 0px #00000081;
}
#conteiner-color-texto p{
    font-size: 2.5rem;
    color: white;
    width: 47rem;
    position: relative;
    top: 10%;
    left: 37%;
    line-height: 4rem;

}