@charset "UTF-8";



#sobre{
    width: 110rem;
    margin: 10rem auto;
    
    
}
#titulo_sobre{
    text-align: center;
    margin: 10%;
    text-transform: uppercase;
    font-size: 6rem;
  background: var(--dourado-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#conteiner-sobre{
    display: flex;
    justify-content: center;
    font-size: 4em;
    gap: 6vw;
    color: #000000;
}
#conteiner-sobre p{
    width: 40rem;
    padding:  0rem 5rem 0rem 5rem;
}