@charset "UTF-8";

body, html{
    background-color: #DDDDDD;
    margin: 0%;
    height: 100%;
    font-size: 62.50%;
    color: white;
}
.inicio_cabeçalho{
    display: flex;
    justify-content: space-between;
    padding: 0px 1%;
    background-color: black;
    
}
.nav_botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    list-style-type: none;
}
.hero{
    display: flex;
    justify-content: right;
}
.background_degrade{
    display: flex;
    justify-content: right;
    width:100%;
    background-image: linear-gradient(to right,#000000,#404040 25%,#808080 50%,#BFBFBF 75%,#FFFFFF)
}
.main_contenct{
    margin: 5%;
}
#areas_de_atuaçao{
    font-size: 10em;
    text-align: center;
}
.titulos_atuaçao{
    font-size: 5em;
    text-align: center;
}
.conteiner_especialidades{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.conteiner_especialidades article{
    max-width: 440px;
    background-color: #404040;
    padding: 10em;

}
.conteudo_atuaçao{
    font-size: 3em;
}

