@charset "UTF-8";

body, html{
    background-color: #DDDDDD;
    margin: 0%;
    
    font-size: 62.50%;
    color: white;
}
.inicio_cabeçalho{
    display: flex;
    justify-content: space-between;
    padding: 0px 1%;
    background-color: #000000;
    
}
.nav_botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 4em;
    list-style-type: none;
}
.nav_botoes a{
    color: #DDDDDD;
    text-decoration: none;
}
.hero{
    display: flex;
    justify-content: right;
    
}
.background_degrade{
    display: flex;
    justify-content: right;
    width:100%;
    background-image: linear-gradient(to right,#000000cc,#404040 30%,#808080 60%,#BFBFBF 95%,#FFFFFF);
    box-shadow: 0px 1px 4px 0px #00000081;
}
#sobre_mim{
    
   background-color: white;
}
#conteiner_sobre_mim{
    display: flex;
    font-size: 4em;
    gap: 1em;
    padding: 3em;
}
.explicaçao_sobre_mim{
    color: #000000;
    
}
.explicaçao_sobre_mim h2{
    text-align: center;
    font-size: 2em;
    margin-top: 0%;
}
.main_contenct{
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: #808080;
}
#titulo_atuaçao{
    text-align: center;
    font-size: 5rem;
    color: #000000;
    margin: 0%;
    padding-bottom: 1em;
}
#areas_de_atuaçao{
    font-size: 10em;
    text-align: center;
}
.titulos_atuaçao{
    font-size: 5em;
    text-align: center;
}
.conteiner_especialidades{
    width: 100%;
    max-width: 2400px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.conteiner_especialidades article{
    background-color: #404040;
    width: 100%;
    padding: 5em;
    border-radius: 1em;
}
.conteiner_especialidades img{
    width: 100%;
}

.conteudo_atuaçao{
    font-size: 2em;
}
.lista_info{
    line-height: 1.4em;
}
.final{
    display: flex;
    flex-direction: column;
    background-image: url(imagem/pexels-pavel-danilyuk-8112201\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15%;

}
.conteiner_footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.conteiner_footer p{
    font-size: 5em;
    padding: 2rem;
}
.conteiner_footer img{
    max-width: 220px;
    max-height: 150px;
}
.contato_rede{
    display: flex;
    flex-direction: column;
}
.redes {
    display: flex;
    justify-content: space-evenly;
    font-size: 5em;
    margin: 3rem;
    
}
.redes a{
    text-decoration: none;
    color: white;

}
.instagram{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodaper{
    background-color: #0000007a;
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    margin: 0%;
    padding: 1em;
}
.rodaper p{
    margin: 0%;
}
